<mat-card class="no-padding nav-container mat-card-background">

  <div fxLayout="row" fxFill fxLayoutAlign="space-between center">

    <div fxFlex>
      <h1 class="p-l-30">Pictionary</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="pad-r-10">

      <div fxFlex>
        Logged in as {{ userName }}
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My profile</span>
          </button>

          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span (click)="logout()">Logout</span>
          </button>

        </mat-menu>
      </div>

    </div>
  </div>

</mat-card>
