<mat-card class="height-100 no-box-shadow">
  <mat-card-content>

    <table class="width-100">

      <thead class="mat-subheading-2">
      <tr>
        <td>Users ({{usersCount}} / 6)</td>
        <td>Status</td>
        <td>Rank</td>
      </tr>
      <mat-divider></mat-divider>
      </thead>

      <tbody>
      <tr *ngFor="let user of usersList">
        <td fxLayout="row" fxLayoutAlign="start center">
          <mat-icon *ngIf="user.status.isReady" color="primary">fiber_manual_record</mat-icon>
          <mat-icon *ngIf="!user.status.isReady" color="warn">fiber_manual_record</mat-icon>
          <mat-label>
            {{user.username}}
          </mat-label>
        </td>
        <td>{{user.status.statusString}}</td>
        <td>{{user.rank}}</td>
      </tr>
      </tbody>

    </table>

  </mat-card-content>
</mat-card>

