.canvas-container {
  height: 100%;
  width: 100%;
  min-height: 300px;
}

.canvas-container-inner {
  width: 100%;
  overflow: auto;
}

@media screen and (max-width: 790px) {
  .canvas-hidden-scroll {
    overflow: hidden !important;
  }
}

.color-chip {
  width: 35px;
  height: 25px;
}

.lock-screen {
  touch-action: none;
}

.black {
  background-color: #000000;
}

.red {
  background-color: #F44336;
}

.green {
  background-color: #4CAF50;
}

.blue {
  background-color: #2196F3;
}

.yellow {
  background-color: #FFEB3B;
}

.white {
  background-color: #FFFFFF;
}
