.canvas-container {
  height: 100%;
  width: 100%;
}

.color-chip {
  width: 20px;
  height: 15px;
}

.lock-screen {
  touch-action: none;
}

.black {
  background-color: #000000;
}

.red {
  background-color: #F44336;
}

.green {
  background-color: #4CAF50;
}

.blue {
  background-color: #2196F3;
}

.yellow {
  background-color: #FFEB3B;
}

.white {
  background-color: #FFFFFF;
}
