
<div fxLayout="column" fxLayoutAlign="center center" class="canvas-container" fxLayoutGap="20px">
  <mat-card  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.xs="start start" fxLayoutGap="20px" class="width-100 custom-background" style="padding: 10px">

    <div>
      <button (click)="toggleUsersList()" color="primary" type="button" mat-raised-button fxHide.gt-md>Show users list</button>
    </div>
    <div>
      <button mat-raised-button color="accent" type="button" mat-line (click)="resetCanvas()">Reset</button>
    </div>

    <div fxLayout="row" fxFlex="100" fxHide.gt-sm style="height: 10px"></div>
    <mat-chip-list class="mat-chip-list" fxLayout="row wrap">
      <mat-chip class="color-chip black" (click)="changeColor('#000000')"></mat-chip>
      <mat-chip class="color-chip red" (click)="changeColor('#F44336')"></mat-chip>
      <mat-chip class="color-chip green" (click)="changeColor('#4CAF50')"></mat-chip>
      <mat-chip class="color-chip blue" (click)="changeColor('#2196F3')"></mat-chip>
      <mat-chip class="color-chip yellow" (click)="changeColor('#FFEB3B')"></mat-chip>
      <mat-chip class="color-chip white" (click)="changeColor('#FFFFFF')"></mat-chip>
    </mat-chip-list>

    <mat-slider [max]="30" [min]="1" [step]="1" [(ngModel)]="lineWidth"></mat-slider>

  </mat-card>

  <div class="canvas-container-inner" fxFlex fxLayoutAlign="center center">
    <canvas #canvas class="white"></canvas>
  </div>

</div>

