.canvas-container {
  background: white;
  height: 300px;
  width: 300px;
}

.color-chip {
  width: 35px;
  height: 25px;
}

.black {
  background-color: #000000;
}

.red {
  background-color: #F44336;
}

.green {
  background-color: #4CAF50;
}

.blue {
  background-color: #2196F3;
}

.yellow {
  background-color: #FFEB3B;
}

.brown {
  background-color: #795548;
}

.purple {
  background-color: #9C27B0;
}

.orange {
  background-color: #FF9800;
}

.white {
  background-color: #FFFFFF;
}
