<form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">

  <div style="text-align: center; padding-top: 25px;">

    <mat-form-field class="width-90">

      <input matInput name="username" type="text" placeholder="Username" ngModel required/>
      <mat-icon class="input-icon"></mat-icon>

    </mat-form-field>

    <mat-form-field class="width-90">

      <input matInput name="email" type="email" placeholder="email" ngModel required/>
      <mat-icon class="input-icon">email</mat-icon>

    </mat-form-field>

    <mat-form-field class="width-90">

      <input matInput name="password" type="password" placeholder="password" ngModel required/>
      <mat-icon class="input-icon">vpn_key</mat-icon>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="mar-bot-15">Register</button>

  </div>

</form>


