
<div class="form-container">
<mat-card class="card-container">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title class="center ">
       <h2 class="mat-title light-colors">Welcome to Kalambury!</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-tab-group class="tabs-border" [(selectedIndex)]="selectedTab">
      <mat-tab label="Login">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Register">
        <app-register (changedTab)="registered($event)"></app-register>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>





