<div class="chat-container">
  <mat-card class="messages-container custom-background" #messagesBox>

      <mat-list>
        <h3 mat-subheader>Messages</h3>
        <mat-list-item *ngFor="let msg of messages" [ngStyle]="{'height': msg.type !== 'userMessage' ? '24px' : '48px' }">

          <div mat-line *ngIf="msg.type === 'userJoined'">
            <span class="mat-caption">User <b>{{msg.username}}</b> has joined</span> <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <div mat-line *ngIf="msg.type === 'userLeft'">
            <span class="mat-caption">User <b>{{msg.username}}</b> has left</span> <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <div mat-line *ngIf="msg.type === 'gameWon'">
            <span class="mat-caption warn-text">Answer "{{msg.message}}" is correct! User <b>{{msg.username}}</b> has won this round!</span> <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <div mat-line *ngIf="msg.type === 'gameAlmostWon'">
            <span class="mat-caption warn-text"><b>User {{msg.username}}</b> almost got it with "{{msg.message}}"! Try again!</span> <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <div mat-line *ngIf="msg.type === 'sendBlocked'">
            <span class="mat-caption warn-text"><b>You can't write while you are drawing! </b></span> <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <div mat-line *ngIf="msg.type === 'userMessage'">
            <h4 class="inline p-r-10">{{msg.username}}</h4>
            <span class="mat-caption">{{msg.date | date: 'shortTime'}}</span>
          </div>

          <p mat-line *ngIf="msg.type === 'userMessage'"> {{msg.message}} </p>
        </mat-list-item>
      </mat-list>

  </mat-card>

  <mat-card class="chat-form">

    <mat-card-content>

      <form #messageForm="ngForm" (ngSubmit)="send(messageForm)" fxFlex fxLayout="row" fxLayoutAlign="center center"
            fxLayoutGap="20px">

        <mat-form-field fxFlex="90">
          <mat-label>Write...</mat-label>
          <input matInput name="message" id="chat_message" type="text" ngModel #message="ngModel" autocomplete="off"/>
        </mat-form-field>

        <button fxFlex mat-raised-button color="primary" type="submit">Send</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
