<mat-card class="height-100">
  <mat-card-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-subtitle>
        Users ({{usersCount}})
      </mat-card-subtitle>
      <mat-card-subtitle>
        Status
      </mat-card-subtitle>
      <mat-card-subtitle>
        Rank
      </mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let username of usersList">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon color="primary">fiber_manual_record</mat-icon>
            <mat-label>
              {{username}}
            </mat-label>
          </div>

        <mat-label>500</mat-label>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

