<mat-card class="main-container">
  <mat-card-content class="inner-container">
    <div fxLayout="column" fxFill>
      <div fxFlex fxLayout="row" fxLayout.xs="column">
        <app-canvas fxFlex="70"  fxLayoutAlign="center center" fxLayoutAlign.xs="start start" fxFlexOrder.xs="2"></app-canvas>

        <div fxFlex="30"  fxFlexOrder.xs="1">
          <div fxFill fxLayout="column" >
            <app-game-panel fxFlex="20"></app-game-panel>
            <app-room-menu fxFill></app-room-menu>
          </div>
        </div>
      </div>
      <app-chat></app-chat>
    </div>


  </mat-card-content>
</mat-card>


