<app-navigation style="height: 10%"></app-navigation>

<mat-card class="main-container">
  <mat-card-content class="inner-container">
    <div fxFlex fxLayout="column" fxFill>
      <div fxFlex fxLayout="row" fxLayout.xs="column">
        <app-canvas fxFlex="70"  fxLayoutAlign="center center" ></app-canvas>

        <div fxFlex="30"  fxFlexOrder.xs="1">
          <div fxFill fxLayout="column">
            <app-game-panel fxFlex="40"></app-game-panel>
            <app-users-list [usersList]="usersList" [usersCount]="usersCount" fxFill></app-users-list>
          </div>
        </div>
      </div>
      <app-chat></app-chat>
    </div>


  </mat-card-content>
</mat-card>


