
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

  <div class="center pad-top-25">

    <mat-form-field class="width-90 pad-bot-10">

      <input matInput name="email" type="email" placeholder="Email" email ngModel required #email="ngModel"/>
      <mat-icon class="input-icon" color="primary">email</mat-icon>

      <mat-hint></mat-hint>
      <mat-error *ngIf="email.touched && !email.valid && !loginForm.submitted">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.submitted"></mat-error>

    </mat-form-field>

    <mat-form-field class="width-90 pad-bot-10">

      <input matInput name="password" type="password" placeholder="Password" ngModel required #password="ngModel"/>
      <mat-icon class="input-icon" color="primary">vpn_key</mat-icon>
      <mat-hint></mat-hint>
      <mat-error *ngIf="password.touched && !loginForm.submitted">
        Password can't be empty
      </mat-error>
      <mat-error *ngIf="loginForm.submitted"></mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="mar-bot-15" [disabled]="!loginForm.valid || valid">Login</button>

  </div>

</form>

