
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

  <div style="text-align: center; padding-top: 25px;">

    <mat-form-field class="custom-width">

      <input matInput name="email" type="email" placeholder="Email" ngModel required/>
      <mat-icon class="input-icon" color="primary">email</mat-icon>

    </mat-form-field>

    <mat-form-field class="custom-width">

      <input matInput name="password" type="password" placeholder="Password" ngModel required/>
      <mat-icon class="input-icon" color="primary">vpn_key</mat-icon>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="mar-bot">Login</button>

  </div>

</form>

