.margin-0 {
  margin: 0;
}

.center {
  text-align: center;
}

.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}

.mar-bot-15 {
  margin-bottom: 15px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.pad-top-25 {
  padding-top: 25px;
}
