@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-light-blue);
$warn: mat-palette($mat-deep-orange);


$theme: mat-light-theme($primary, $accent, $warn);

body {
  margin: 0;
  padding: 0;
}

.primary-text {
  color: mat-color($primary);
}

.warn-text {
  color: mat-color($warn);
}

.no-box-shadow {
  box-shadow: none !important;
}


app-navigation {
  .mat-card-background {
    background-color: mat-color($accent) !important;
  }
}

app-main-page {
  .main-container {
    background-color: mat-color($primary);
  }
}


app-chat {
  h4 {
    color: mat-color($primary);
  }
}

.mat-input-element {
  font-size: 18px !important;
}

app-canvas {
  mat-chip {
    cursor: pointer !important;
  }
}

app-users-list {
  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }
}

app-game-panel {
  .mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
    margin-top: 0;
  }
}

.custom-background {
  background-color: #E1F5FE !important;
}

@include angular-material-theme($theme);

