@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-green);
$accent:  mat-palette($mat-lime);
$warn: mat-palette($mat-pink);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

